@import "tailwindcss";

@theme {
  /* 這裡可以定義 shadcn 特有的顏色，但 v4 預設的 zinc 就很美了 */
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 讓捲軸隱藏或變細，符合極簡風 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}